.about-us-background {
  max-width: 450px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 4px;

  background: #f5f4fa;
}

.about-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-us-titles {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-dark-color;
}

.about-us-texts {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .about-us-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about-us-titles {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us-background {
    width: 354px;
  }

  .about-us-list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us-list-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about-us-list {
    display: flex;
  }

  .about-us-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .about-us-background {
    width: 270px;
  }
}
