html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: $main-font;
  font-size: 14px;
  color: $text-dark-color;
}

h1 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-address,
.footer-address {
  font-style: normal;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}
