$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$title-dark-color: #212121;
$title-light-color: #ffffff;
$text-dark-color: #757575;
$text-light-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$logo-color: #000000;
